@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

$poppins: "Poppins", sans-serif;
$roboto: "Roboto", sans-serif;

$primary: #f99417;
$dark: #000;
$dark-purple: #2d3250;
$middle-purple: #424769;
$light: #fff;
$like-light: #f9f9f9;
$warning: #f5e8c7;
$army: #607274;

body {
    background: $like-light !important;

    & .text-primary {
        color: $primary !important;
    }
}

body.loading {
    overflow: hidden;
    .loading-text {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 10000; 
        background: rgba(255, 255, 255, 0.13); 
backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(8.5px);
        display: flex;
        align-items: center;
        justify-content: center;
        & .ball {
            background: #ffb996;
            height: 42px;
            width: 42px;
            margin: 20px;
            position: relative;
            float: left;
            border-radius: 50%;
            animation: b 2s infinite ease-in-out;
        }
        & .ball:nth-child(1) {
            background: #a1c2f1;
        }
        & .ball:nth-child(2) {
            animation-delay: 0.25s;
        }
        & .ball:nth-child(3) {
            background: #fffad7;
            animation-delay: 0.5s;
        }
        & .ball:nth-child(4) {
            background: #9dbc98;
            animation-delay: 0.75s;
        }
    }
}

header {
    background: rgba(255, 255, 255, 0.32);
    backdrop-filter: blur(7px);

    & .navbar-brand {
        font-weight: 700;
        font-size: 1.75rem;
        text-transform: uppercase;
        font-family: $poppins;
        color: $primary !important;

        &:hover {
            opacity: 0.8;
            transition: all 0.7 ease;
        }
    }

    & .nav-item {
        & .nav-link {
            font-weight: 400;
            color: $army !important;
            font-family: $poppins;
            font-size: 1rem;
            padding-left: 16px !important;
            padding-right: 16px !important;

            &:hover,
            &:focus {
                opacity: 0.7;
            }
        }
    }

    & .btn-icon {
        margin-left: 12px;
        font-size: 1.5rem;
        color: $primary !important;
        padding: 0;
        background: transparent !important;
        border: 0 !important;
        border-radius: 0;

        &:hover,
        &:focus {
            opacity: 0.8;
        }
    }
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .container {
        margin-top: auto;
    }

    &-image {
        position: relative;

        &-component {
            width: 440px;
            height: 440px;
            border-radius: 12px;
            position: relative;
            -webkit-animation: color-change-5x 10s infinite;
            animation: color-change-5x 10s infinite;

            & .image_surya {
                position: absolute;
                left: 0;
                width: 440px;
                height: 400px;
                bottom: 0;
                -webkit-animation: flicker-1 2s linear infinite both;
                animation: flicker-1 2s linear infinite both;
            }
        }

        & .circle {
            position: absolute;
            right: 0;
            bottom: -60px;
            width: 240px;
            height: 240px;
            background: $light;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                display: block;
                width: 100%;
                height: 300px;
                letter-spacing: 0.52em;
                position: absolute;

                text {
                    transform-origin: 50% 50%;
                    animation: rotate 10s linear infinite;
                    font-weight: 200;
                    font-family: $poppins;
                }
            }

            & h3 {
                font-family: $poppins;
                color: $primary !important;
                font-weight: 700;
                font-size: 6rem;
                margin-bottom: 0;
            }
        }
    }

    & .title {
        font-size: 7rem;
        font-weight: 800;
        text-transform: uppercase;
        font-family: $roboto;
        margin-bottom: 0.5rem;
        -webkit-animation: background-change-3x 4s linear infinite alternate both;
        animation: background-change-3x 4s linear infinite alternate both;
    }

    & .subtitle {
        font-weight: 400;
        font-family: $poppins;
        color: $dark;
        opacity: 0.6;
        font-size: 1rem;
        margin-bottom: 0;
    }

    &-bottom {
        margin-top: 80px;
        display: flex;
        flex-direction: row;

        & p {
            font-weight: 400;
            font-family: $poppins;
            color: $dark;
            opacity: 0.6;
            font-size: 1rem;
            margin-top: auto;
            margin-bottom: auto;
        }

        & ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding-left: 32px;
            margin-bottom: 0;

            &::before {
                content: "";
                height: 100%;
                width: 1px;
                display: block;
                position: relative;
                background: $dark;
                opacity: 0.4;
                margin-right: 24px;
            }

            & li {
                width: 42px;
                height: 42px;
                background: $light;
                border-radius: 12px;
                margin-right: 12px;
                display: flex;
                align-items: center;
                justify-content: center;

                & a {
                    color: $primary;
                    font-size: 1.5rem;

                    &:hover {
                        transition: all 0.5s ease;
                        opacity: 0.8;
                    }
                }
            }
        }
    }

    & .btn-primary {
        margin-top: auto;
        margin-bottom: 3rem;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: transparent !important;
        border-radius: 0;
        border: 0;
        color: $dark;
        font-family: $poppins;

        & svg {
            stroke: $dark;

            & #wheel {
                animation: scroll ease 1.5s infinite;
                stroke: $primary !important;
            }

            & #mouse {
                stroke: $primary !important;
            }
        }

        @keyframes scroll {
            0% {
                transform: translateY(0);
            }

            30% {
                transform: translateY(100px);
            }
        }
    }
}

.about {
    background: $light;
    padding-top: 6rem;
    padding-bottom: 3rem;

    &_desc {
        height: 100%;
        display: flex;
        flex-direction: column;

        & h6 {
            font-weight: 600;
            margin-bottom: 0;
        }

        & h3 {
            font-weight: 700;
            color: $dark;
            margin-bottom: 2rem;
        }

        & p {
            font-weight: 400;
            font-family: $poppins;
            color: $dark;
            opacity: 0.6;
            font-size: 1rem;
            margin-bottom: 0;
            text-align: justify;
        }

        & a {
            margin-top: 3rem;
            padding: 8px 24px;
            font-size: 1rem;
            font-weight: 500;
            border-radius: 0;
            background: $primary;
            border: 2px solid $primary !important;
            color: $light;
            width: max-content;

            & i {
                margin-left: 8px;
            }

            &:hover,
            :focus,
            :active {
                transition: all 0.5s ease;
                background: $light !important;
                color: $primary !important;
            }
        }

        & .row {
            margin-top: 3rem;

            & .card {
                height: 100%;
                border-radius: 0;
                padding: 12px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                & i {
                    color: $primary;
                    width: 40px;
                    height: 40px;
                    font-size: 32px;
                    margin-left: auto;
                    margin-right: auto;
                }

                & h5 {
                    margin-bottom: 0;
                    color: $army;
                    text-transform: uppercase;
                }

                & p {
                    color: $army;
                    opacity: 0.8;
                    font-size: 0.875rem;
                    margin-bottom: 0;
                }
            }
        }
    }

    &_right {
        & .card {
            padding: 12px;
            background: $light;
            right: 0;
            padding: 42px 32px;
            border: 0;

            & i {
                color: $primary;
                font-size: 2.5rem;
                margin-bottom: 1rem;
            }

            & h4 {
                color: $army;
                font-family: $poppins;
                font-weight: 300;
            }

            &:hover {
                transition: all 0.5s ease;
                background: $primary;

                & i {
                    color: $army;
                    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
                    animation: heartbeat 1.5s ease-in-out infinite both;
                }
            }
        }
    }
}

.caption {
    width: 70%;
    margin-left: auto;
    margin-right: auto;

    & h2 {
        color: $primary;
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    & p {
        font-weight: 400;
        font-family: $poppins;
        color: $light;
        font-size: 0.875rem;
        margin-bottom: 2rem;
        text-align: center;
    }
}

.skill {
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: relative;

    & h2 {
        font-weight: 800;
        font-family: $poppins;
        color: $primary;
        font-size: 3rem;
        text-transform: uppercase;
        width: max-content;
        margin-bottom: 1rem;

        &::after {
            content: "";
            background: $warning;
            width: 44px;
            height: 2px;
            display: block;
            margin-left: auto;
        }
    }

    & .card {
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 0;
        padding: 12px 32px;
        background: transparent;
        border: 1px solid $army;

        &:hover {
            transition: all 1s ease;
            background: $army;

            & svg {
                fill: $warning;
            }

            & i {
                color: $warning;
            }

            & p {
                color: $warning;
            }
        }

        & svg {
            height: 48px;
            width: 48px;
            fill: $army;
        }

        & i {
            width: 48px;
            height: 48px;
            color: $army;
            font-size: 48px;
        }

        & p {
            font-size: 1.25rem;
            color: $army;
            margin-left: 24px;
            margin-bottom: 0;
        }
    }
}

.portfolio {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: $light;

    & h2 {
        font-weight: 800;
        font-family: $poppins;
        color: $primary;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        text-align: center;

        &::after {
            content: "";
            background: $warning;
            width: 200px;
            height: 2px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    & .swiper {
        width: 70%;
        height: 400px;

        &-slide {
            text-align: center;
            font-size: 18px;
            background: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            & .card {
                background: transparent;
                border: 0;

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    aspect-ratio: 16/9;
                    margin-bottom: 1rem;
                }

                & p {
                    margin-bottom: 0;
                    color: $army;
                    font-family: $poppins;
                }
            }
        }

        &-button-next {
            width: 40px;
            height: 40px;
            background: $primary;
            border-radius: 100%;
            opacity: 0.5;

            &:hover {
                transition: all 0.4s ease;
                opacity: 1;
            }

            &::after {
                font-family: "Font Awesome 6 Free" !important;
                content: "\f0da";
                font-weight: 600;
                color: $light;
                font-size: 1.75rem;
            }
        }

        &-button-prev {
            width: 40px;
            height: 40px;
            background: $primary;
            border-radius: 100%;
            opacity: 0.5;

            &:hover {
                transition: all 0.4s ease;
                opacity: 1;
            }

            &::after {
                content: "\f0d9";
                font-family: "Font Awesome 6 Free" !important;
                color: $light;
                font-weight: 600;
                font-size: 1.75rem;
            }
        }
    }

    .autoplay-progress {
        position: absolute;
        right: 16px;
        bottom: 16px;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: $primary;

        & svg {
            --progress: 0;
            position: absolute;
            left: 0;
            top: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            stroke-width: 4px;
            stroke: $primary;
            fill: none;
            stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
            stroke-dasharray: 125.6;
            transform: rotate(-90deg);
        }
    }
}

.youtube {
    padding-top: 2rem;
    padding-bottom: 3rem;

    & h4 {
        font-weight: 800;
        font-family: $poppins;
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 3rem;
        text-align: left;

        &::after {
            content: "";
            background: $warning;
            width: 80px;
            height: 2px;
            display: block;
        }

        & a {
            color: $primary !important;
            opacity: 0.7;
            text-decoration: none;

            &:hover,
            &:focus {
                opacity: 0.5;
                transition: all 0.5s ease;
            }
        }
    }

    & a {
        text-transform: unset;
        color: transparent;

        & img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 16/9;
        }

        &:hover {
            transition: all 0.5s ease;
            opacity: 0.8;
        }
    }
}

.contact {
    padding-top: 3rem;
    padding-bottom: 4rem;
    background: $light;

    & h2 {
        font-weight: 800;
        font-family: $poppins;
        color: $primary;
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 3rem;
        text-align: center;

        &::after {
            content: "";
            background: $warning;
            width: 200px;
            height: 2px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    & .container {
        max-width: 800px;
    }

    &_left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        & .card {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 12px;
            border-radius: 0;

            & i {
                color: $primary;
                font-size: 1.75rem;
                margin-bottom: 0.5rem;
            }

            & h5 {
                font-weight: 500;
                font-family: $roboto;
                color: $army;
            }

            & p {
                font-family: $poppins;
                color: $army;
                opacity: 0.6;
            }
        }
    }

    &_right {
        & .form-floating {
            & input {
                border-radius: 0;
                font-family: $poppins;

                &:focus {
                    border-color: $primary;
                    box-shadow: 0 0 0 0.25rem rgba(255, 217, 0, 0.25);
                }
            }

            & textarea {
                border-radius: 0;
                font-family: $poppins;

                &:focus {
                    border-color: $primary;
                    box-shadow: 0 0 0 0.25rem rgba(255, 217, 0, 0.25);
                }
            }
        }

        & .btn-primary {
            border-radius: 0;
            margin-top: 2rem;
            background: $primary;
            font-weight: 300;
            font-family: $poppins;
            border: 1px solid $primary !important;

            &:hover,
            &::after {
                transition: all 0.5s ease;
                background: transparent;
                color: $primary;
            }
        }
    }
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;

    & .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        & p {
            color: $dark;
            margin-bottom: 0;
            font-family: $poppins;
            opacity: 0.5;
            font-size: 1rem;
        }

        & ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            margin-right: 0;

            & li {
                height: 42px;
                width: 42px;
                margin-left: 14px;
                display: flex;
                justify-content: center;
                align-items: center;

                & a {
                    color: $primary;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.btn-floating {
    position: fixed;
    right: 12px;
    bottom: 42px;
    width: 40px;
    height: 40px;
    background: $primary !important;
    color: $warning !important;
    border: 0 !important;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0);
    }
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes flicker-1 {
    0%,
    100% {
        opacity: 1;
    }

    41.99% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    43% {
        opacity: 0;
    }

    43.01% {
        opacity: 1;
    }

    47.99% {
        opacity: 1;
    }

    48% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    49.01% {
        opacity: 1;
    }
}

@keyframes flicker-1 {
    0%,
    100% {
        opacity: 1;
    }

    41.99% {
        opacity: 1;
    }

    42% {
        opacity: 0;
    }

    43% {
        opacity: 0;
    }

    43.01% {
        opacity: 1;
    }

    47.99% {
        opacity: 1;
    }

    48% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    49.01% {
        opacity: 1;
    }
}

@keyframes color-change-5x {
    0% {
        background: #ffe3bb;
    }

    25% {
        background: #b2a59b;
    }

    50% {
        background: #faeed1;
    }

    75% {
        background: #607274;
    }

    100% {
        background: #161a30;
    }
}

@-webkit-keyframes background-change-3x {
    0% {
        background: url("https://images.unsplash.com/photo-1470217957101-da7150b9b681?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") -20px -20px
            no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-position: center;
    }

    100% {
        background: url("https://images.unsplash.com/photo-1480498073050-4c6abeee90c1?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") -20px -20px
            no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-position: center;
    }
}

@keyframes background-change-3x {
    0% {
        background: url("https://images.unsplash.com/photo-1470217957101-da7150b9b681?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") -20px -20px
            no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-position: center;
    }

    100% {
        background: url("https://images.unsplash.com/photo-1480498073050-4c6abeee90c1?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") -20px -20px
            no-repeat;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-position: center;
    }
}
@keyframes b {
    0% {
        top: 0px;
    }
    50% {
        top: 100px;
    }
    100% {
        top: 0px;
    }
}
